<app-header></app-header>
<app-menu></app-menu>


  <mat-card style="text-align: center;">

    <mat-card-title>Dane użytkownika</mat-card-title><br/><br/>

    <form [formGroup]="userForm" (ngSubmit)="saveUser()">

      <mat-form-field style="width: 30%" *ngIf="this.user.id != null">
        <label><input matInput type="text" formControlName="id" placeholder="Id" readonly></label>
      </mat-form-field><br/><br/>

      <mat-form-field style="width: 30%">
        <label><input matInput #name type="text" formControlName="name" required placeholder="Nazwa użytkownika"></label>
        <mat-error *ngIf="name.value=='' && this.isNew==true">Pole nie może być puste !</mat-error>
      </mat-form-field><br/><br/>

      <mat-form-field style="width: 30%">
        <label><input matInput #password type="text" formControlName="password" placeholder="Nowe hasło"></label>
        <mat-hint align="start">Minimum 4 znaki</mat-hint>
        <mat-error *ngIf="password.value.length < 4">Minimum 4 znaki !</mat-error>
      </mat-form-field><br/><br/><br/>

      <mat-checkbox #active formControlName="active">Aktywny</mat-checkbox><br/><br/>

      <mat-card-actions>
        <div class="app-button-row">
          <button type="submit" mat-raised-button color="primary">Zapisz</button><br/><br/>
          <mat-error *ngIf="this.globalObjects.updateSuccessful"> Użytkownik został zapisany</mat-error>
        </div>
      </mat-card-actions>

    </form>

  </mat-card>

