<app-header></app-header>

<div>
  <mat-card style="text-align: center;">

    <mat-card-title>Zaloguj się do aplikacji</mat-card-title>
    <br/><br/>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field style="width: 30%">
        <label><input matInput type="text" formControlName="name" placeholder="Nazwa użytkownika"></label>
      </mat-form-field>
      <br/><br/>

      <mat-form-field style="width: 30%">
        <label><input matInput formControlName="password" placeholder="Hasło" [type]="hide ? 'password' : 'text'"></label>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions>
        <div class="app-button-row">
          <button type="submit" mat-raised-button color="primary">Zaloguj</button>
          <br/><br/>
        </div>
      </mat-card-actions>
    </form>
    <mat-card-footer>
      <p style="color: crimson" *ngIf="this.globalObjects.loginError"> Błędna nazwa użytkownika lub hasło !</p>
      <p style="color: crimson" *ngIf="this.globalObjects.accessError"> Proszę się zalogować !</p>
    </mat-card-footer>

  </mat-card>
</div>

