<app-header></app-header>

<div>
<mat-card style="text-align: center;">

  <mat-card-title>Zaloguj się do aplikacji</mat-card-title><br/><br/>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field style="width: 30%">
        <input matInput type="text" formControlName="name" placeholder="Nazwa użytkownika">
      </mat-form-field><br/><br/>

      <mat-form-field style="width: 30%">
          <input matInput formControlName="password" placeholder="Hasło" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions>
        <div class="app-button-row">
          <button type="submit" mat-raised-button color="primary">Zaloguj</button><br/><br/>
        </div>
      </mat-card-actions>
    </form>
  <mat-card-footer style="color: blue">
    <p style="color: crimson" *ngIf="this.globalObjects.loginError"> Błędna nazwa użytkownika lub hasło !</p>
  </mat-card-footer>

</mat-card>
</div>

