<mat-card>
  <mat-card-title>Zaloguj się do aplikacji</mat-card-title>
  <div class="login-container" style="width: 50%">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <label><input matInput type="text" formControlName="name" placeholder="Nazwa użytkownika"></label>
      </mat-form-field><br/>
      <mat-form-field>
          <label><input matInput formControlName="password" placeholder="Hasło" [type]="hide ? 'password' : 'text'"></label>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-actions>
        <div class="app-button-row">
          <button type="submit" mat-raised-button color="primary">Zaloguj</button>
        </div>
      </mat-card-actions>
    </form>
  </div>
</mat-card>

