<app-header></app-header>
<app-menu></app-menu>

<mat-card style="text-align: center;">

  <mat-card-title>Dane filmu</mat-card-title><br/><br/>

  <form [formGroup]="movieForm">

    <mat-form-field style="width: 30%">
      <input matInput type="text" formControlName="title" [errorStateMatcher]="matcher" (ngModelChange)="this.updateGlobalObjects()" placeholder="Tytuł">
      <mat-error *ngIf="movieForm.controls['title'].hasError('required')">Pole nie może być puste !</mat-error>
      <mat-error *ngIf="movieForm.controls['title'].hasError('forbiddenTitle')&&(this.isNew)">Ten tytuł nie może być użyty !</mat-error>
    </mat-form-field><br/>

    <mat-form-field style="width: 30%">
      <mat-label>Reżyser</mat-label>
      <mat-select formControlName="director">
        <mat-option *ngFor="let director of this.globalObjects.directorsInDb" [value]="director.id">{{director.lastName}} {{director.firstName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="movieForm.controls['director'].hasError('required')">Pole nie może być puste !</mat-error>
    </mat-form-field><br/>

    <mat-form-field style="width: 30%">
      <input matInput type="text" formControlName="year" [errorStateMatcher]="matcher" (ngModelChange)="this.updateGlobalObjects()" placeholder="Rok produkcji">
      <mat-error *ngIf="movieForm.controls['year'].hasError('required')">Pole nie może być puste !</mat-error>
      <mat-error *ngIf="movieForm.controls['year'].hasError('pattern')">4 cyfry !</mat-error>
    </mat-form-field><br/>

    <mat-form-field style="width: 30%">
    <mat-label>Gatunek</mat-label>
    <mat-select formControlName="genres" multiple>
      <mat-option *ngFor="let genre of this.globalObjects.genresInDb" [value]="genre.id">{{genre.genreName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="movieForm.controls['genres'].hasError('required')">Pole nie może być puste !</mat-error>
    </mat-form-field><br/>

    <mat-form-field style="width: 30%">
      <input matInput type="textarea" formControlName="description" [errorStateMatcher]="matcher" placeholder="Opis">
      <mat-error *ngIf="movieForm.controls['description'].hasError('required')">Pole nie może być puste !</mat-error>
    </mat-form-field><br/>

    <mat-card-actions>
      <button mat-raised-button [disabled]="(!movieForm.valid)&&(this.isNew)" (click)="saveMovie()" color="primary">
        <span *ngIf="this.isNew">Dodaj</span>
        <span *ngIf="!this.isNew">Zapisz</span>
      </button>
      <span class="checkbox-spacer"></span>
      <button *ngIf="!this.isNew && this.globalObjects.isAdmin" mat-raised-button (click)="deleteMovieConfirm()" color="accent">Usuń</button>
      <span class="header-spacer"></span>
      <button type="button" mat-raised-button [routerLink]="'/movies/list'" color="primary">Cofnij</button><br/><br/>
    </mat-card-actions>

    <mat-card-footer style="color: blue">
      <p style="color: crimson" *ngIf="this.globalObjects.serverError"> Błąd serwera</p>
    </mat-card-footer>
  </form>
</mat-card>

